<ul class="list-group">
  {% for travellerItem in reservation.travellers %}
    {% if travellerItem != traveller %}
      <li class="list-group-item">
        {{ travellerItem.prenom}} {{travellerItem.nom}}
        <a
          href="{{ path('frontend_user_reservation_data_traveller', { 'reservation': reservation.id,'traveller':travellerItem.id }) }}"
          target="_blank"
          title="{{'Editar datos del viaje y añadir documentación'|trans}}"
          data-bs-toggle="tooltip"
        >
          <i class="fas fa-arrow-up-right-from-square "></i>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>