 {% if reservation.reservationData|length > 0 %}
    <div class="row row-cols-auto">

        {% for reservationDatum in reservation.reservationData %}
            {{include('admin/reservation/partials/_row_reservationData.html.twig')}}
       {% endfor %}
    </div>
     {% else %}
            El usuario todavía no ha depositado datos para esta reserva.
{% endif %}