<ul class="list-group">
{% for document in reservation.documents %}
  {{include('admin/reservation/partials/_row_reservation_document.html.twig')}}
{% else %}
<li class="list-group-item">
  Todavía no se han asociado documentos a esta reserva.
</li>
{% endfor %}
</ul>