<table class="table">
{% for traveller in reservation.travellers %}
{{ include('admin/reservation/partials/_row_traveller.html.twig',{'traveller':traveller})}}
{% else %}
  <tr>
    <td>Todavía no se han asociado viajeros a esta reserva.</td>
  </tr>
{% endfor %}
</table>