<ul class="nav nav-tabs" role="tablist" id="myTab">
    <li class="nav-item">
        <button class="nav-link active"
                id="reservations-tab"
                data-bs-toggle="tab"
                data-bs-target="#reservations"
                type="button"
                role="tab"
                aria-controls="reservations"
                aria-selected="true"
                    >Reservas
        </button>
    </li>
   {#  <li class="nav-item">
        <button class="nav-link"
                id="users-tab"
                data-bs-toggle="tab"
                data-bs-target="#users"
                type="button"
                role="tab"
                aria-controls="users"
                aria-selected="true"
                >Usuarios
        </button>
    </li> #}
    {# <li class="nav-item">
        <button class="nav-link"
                id="documents-tab"
                data-bs-toggle="tab"
                data-bs-target="#documents"
                type="button"
                role="tab"
                aria-controls="documents"
                aria-selected="true"
                >Documentos
        </button>
    </li> #}
</ul>
<div class="tab-content">
    <div
        class="tab-pane fade show active"
        id="reservations"
        role="tabpanel"
        aria-labelledby="reservations-tab">
            {{ include('admin/codespromo/_codespromo_reservations.html.twig') }}
    </div>
     {# <div
        class="tab-pane fade show"
        id="users"
        role="tabpanel"
        aria-labelledby="users-tab">
            {{ include('admin/codespromo/_codespromo_users.html.twig') }}
    </div> #}
</div>
