<fieldset class="filterband">
  <div class="startwrapper">
    <div class="total_items">
        <strong>Total de reservas:</strong>
        <span id="totalItemCount">{{ count }}</span>
    </div>
  </div>
  <div class="endwrapper">
    <div class="pagination_selector">
        {{ include('admin/reservation/partials/_select_pagination_ammount.html.twig') }}
    </div>
    <div class="searchbox">
        {{ include('admin/reservation/partials/_search_results.html.twig') }}
    </div>
    <div class="results_filter">
        {{ include('admin/reservation/partials/_filtrar_resultados.html.twig') }}
    </div>
  </div>
</fieldset>