<div class="card card-default mb-3 d-none card-comment" >
    <div
        class="card-body"
        data-container="comment-textarea"
        data-title="{{'Campo vacío'|trans}}"
        data-text="{{'No has rellenado el campo del comentario'|trans}}">
        <h3>{{'Comentarios'|trans}}</h3>
        <textarea id="reservation-comment" name="reservation_comment" class="form-control"></textarea>
    </div>
</div>