<div class="card card-default mb-4">
    <div class="card-body">
        <h2>{{'Iniciar la reserva'|trans}}</h2>
        <p>{{'A continuación vamos a iniciar el proceso de reserva así que te ofrecemos dos modalidades de identificación'|trans}}
        <p><strong>{{'Si ya tienes una cuenta creada escribe aquí, sólo el email con el que te suscribiste y te pediremos la contraseña en el paso siguiente'|trans}}</strong></p>
            
        <div id="register">
            {{ include('reservation/usercards/_card_register.html.twig')}}
        </div>
    </div>
</div>