<div class="card card-default mb-3 shadow d-none card-comment">
    <div class="card-body">
        <h3>{{'Comentarios'|trans}}</h3>
        <textarea name="reservation_comment" class="form-control"></textarea>
    </div>
</div>