<table class="table table-stripped text-small">
{% for traveller in travellers %}
  <tr>
  {{ include('reservation/_travellers_row.html.twig',{ 'traveller': traveller}) }}
  </tr>
{% endfor %}
</table>
