<table class="table table-stripped text-small">
{% for traveller in travellers %}
  <tr>
    <td>{{traveller.prenom}}</td>
    <td>{{traveller.nom}}</td>
    <td>{{traveller.email}}</td>
    <td>{{traveller.telephone}}</td>
  </tr>
{% endfor %}
</table>
