{% if (loop.index-1) % 4 == 0 %}
  {% if loop.index == 1 %}
  {% else %}
  </div>
  {% endif %}
{% endif %}
{% if loop.index == 1 or (loop.index-1) % 4 == 0 %}
{# loop.index 1, 4, 8, 16,20, 24 #}
  <div class="row mb-4">
  {% endif %}
  <div class="col-3" data-loopindex="{{loop.index}}">
    <a 
      href="{{ medium.MediaPath|imagine_filter('travel_full_gallery') }}" 
      class="lightbox-item-link" 
      data-fancybox="bloggallery"
      data-bs-toggle="tooltip" 
      title="{{'Haz click sobre la foto para verla a pantalla completa' |trans }}">
      <img
          src="{{ medium.MediaPath|imagine_filter('index_thumbnail_medium') }}"
          class="img-fluid lightbox-item"
      />
    </a>
  </div>
{% if loop.index == totalMedia %}
</div>
{% endif %}