{% extends 'admin/base.html.twig' %}

{% block title %}New Inscriptions{% endblock %}

{% block body %}
    <h1>Create new Inscriptions</h1>

    {{ include('admin/inscriptions/_form.html.twig') }}

    <a href="{{ path('inscriptions_index') }}">back to list</a>
{% endblock %}
