{% block checkbox_widget %}
    <input type="checkbox" id="{{ id }}" name="{{ full_name }}" required="required" class="form-check-input my-custom-class" value="1">
    <label class="form-check-label required" for="{{ id }}">{{ label }}</label>
{% endblock %}
