{% extends 'admin/base.html.twig' %}

{% block title %}Edit Pages{% endblock %}

{% block body %}
<div class="container">
    {{ include ('admin/shared/_controlband.html.twig',{'entity':'pages'})}}
    <div class="row">
        <div class="col-12 col-xs-12">
            <h1>Editar Páginas</h1>
            {{ include('admin/pages/_form.html.twig', {'button_label': 'Actualizar'}) }}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin-media') }}
{% endblock %}