<ul class="list-group">
  {% for document in traveller.documents %}
    {{ include('admin/reservation/partials/_row_reservation_document.html.twig',{'document':document }) }}
  {% else %}
    <li class="list-group-item">Todavía no hay documentos depositados para este usuario.</li>
{% endfor %}
</ul>