{{ form_start(form) }}
    <div class="row">
        <div class="col-4 col-xs-12">
            {{ form_widget(form) }}
            <button class="btn btn-info">
                {{ button_label|default('Guardar') }}
            </button>
        </div>
        <div class="col-8 col-xs-12">


        </div>
    </div>
{{ form_end(form) }}
