{% extends 'admin/base.html.twig' %}

{% block title %}Edit Document{% endblock %}

{% block body %}
    <div class="container">
        {{ include ('admin/shared/_controlband.html.twig',{'entity':'document'}) }}
        <div class="row">
            <div class="col-12 col-xs-12">
                <h1>Edit Document</h1>
                {{ include('admin/document/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>
{% endblock %}
