{% extends 'admin/base.html.twig' %}

{% block title %}Edit Mailings{% endblock %}

{% block body %}
    <div class="container">
    {{ include ('admin/shared/_controlband.html.twig',{'entity':'mailings'})}}
        <div class="row">
            <div class="col-12">
                <h1>Edit Mailings</h1>
                {{ include('admin/mailings/_form.html.twig', {'button_label': 'Actualizar'}) }}
            </div>
        </div>
    </div>
{% endblock %}
