.card {
    margin-bottom: 1rem;
}

.card-header h3 {
    margin-bottom: 0 !important;
    font-weight: light !important;
}

.card-header h3>a,
.tag.is-danger a,
a.traveller-tag-content {
    color: #bf3333;
}

.list-group-item .separator {
    height: 0.5rem;
}

.list-group-item .tags {
    margin-right: 1rem;
}

.btn-toolbar .btn:first-child {
    margin-right: 1rem;
}

.btn-toolbar {
    margin-top: 10px;
}

.btn {
    border-radius: 6px;
    padding: 6px 18px;
}