#cookies {
    min-height: 70px;
    align-items: center;
    width: 100%;
    display: none;
}

[data-container="cookies"] {
    position: fixed;
    bottom: 30px;
    width: 100%;
    width: inherit;
    background-color: rgb(0, 0, 0, 0.7);
    color: white;
    z-index: 1;
    padding: 20px;
    text-align: center;
}

[data-container="cookies"] a {
    color: yellow;
    font-weight: 500;
    text-decoration: none;
}