#js-user-reservations_wrapper .card-header img {
    width: 6rem !important;
    float: left;
    margin-right: 1rem;
    border-radius: 6px;
}

.reservation-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "photo title title" "reservationOptions reservationOptions reservationOptions" "reservationCalculator reservationCalculator reservationCalculator";
    grid-auto-columns: 1fr;
    align-items: top;
    /*    padding: 1.4rem;
    border-radius: 0.8rem;
    margin-bottom: 1.4rem;
    -webkit-box-shadow: 1px 2px 20px -5px rgba(0, 0, 0, 0.39);
    box-shadow: 1px 2px 20px -5px rgba(0, 0, 0, 0.39); */
}

.box {
    font-size: small;
}

.box>table>tbody>tr>td:nth-child(2) {
    text-align: right;
}


/* .reservation {
    background: #fff;
    align-items: center;
    padding: 1.4rem;
    border-radius: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 2px 20px -5px rgba(0, 0, 0, 0.39);
    box-shadow: 1px 2px 20px -5px rgba(0, 0, 0, 0.39);
} */

.travelPhoto {
    grid-area: photo;
}

.reservation-container .travelPhoto img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-right: 40px;
}

.travelName {
    grid-area: title;
}

.reservationOptions {
    grid-area: reservationOptions;
    border-right: 1px solid rgb(209, 215, 222);
    padding-right: 1rem;
}

.reservationCalculator {
    grid-area: reservationCalculator;
}

.reservationCalculator .tags .tag.is-dark {
    display: block;
    width: 2rem !important;
    padding-block-start: 0.2rem;
    text-align: center;
}

@media screen and (min-width: 50rem) {
    .reservation-container {
        grid-template-areas: "photo title title title" "reservationOptions reservationOptions reservationCalculator reservationCalculator";
    }
}

.btn-rakatanga-blue {
    background-color: #296fa8 !important;
    color: #cbeaff;
}

.btn-rakatanga-secondary {
    background-color: #5C636A;
    color: #cbeaff;
    font-weight: bold;
    font-size: 0.9em;
}

.btn-rakatanga-danger {
    font-weight: bold !important;
    font-size: 0.9em !important;
}

.btn-rakatanga-blue:hover,
.btn-rakatanga-secondary:hover {
    color: white;
}

.card-footer.reservation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#js-user-reservations_wrapper .card {
    position: relative;
}

#js-user-reservations_wrapper .card.disable {
    pointer-events: none;
}

#js-user-reservations_wrapper .card.disable::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.2);
    /* Change the last value (0.5) to adjust the opacity */
    z-index: 10;
    border-radius: 6px;
    /* Make the overlay non-clickable */
}


/* Retina */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}