<form class="form-inline" method="post" action="{{path('search_invoices')}}">
  <div class="form-group me-2" style="width:15rem; float:left;">
    <input class="form-control" type="text" name="term" placeholder="Buscar ...">
  </div>
    <button type="submit" class="btn btn-secondary">Buscar</button>
</form>
