<span class="form-error">
    <span class="d-block">
        <span class="form-error-icon badge badge-danger text-uppercase"></span>
        <span class="form-error-message"></span>
    </span>
</span>