{% extends 'admin/base.html.twig' %}

{% block title %}Índice de Pagos{% endblock %}

{% block body %}
    <div class="container">
    {{ include ('admin/shared/_controlband.html.twig',{'entity':'payments'})}}
        <div class="row">
            <div class="col-12">
                <h1>Índice de Pagos</h1>
            </div>
        </div>
        <div class="row">
            <div class="navigation col-md-2 col-xs-12">
                {{ knp_pagination_render(payments) }}
            </div>
        </div>
    <div class="row">
        <div class="col-12">
            <div class="table-data">
                <div>
                    <table class="table table-hover small">
                        <thead>
                            <tr>
                                <th class="main-red">Id</th>
                                <th class="main-red">Cantidad</th>
                                <th class="main-red">Stripe Id</th>
                                <th class="main-red">Reserva</th>
                                <th class="main-red">Fecha del pago</th>
                                <th class="main-red">Usuario</th>
                                <th class="main-red">Viaje</th>
                                <th class="main-red">Fechas</th>
                                <th class="main-red"><i class="fa fa-trash"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for payment in payments %}
                            {{include('admin/payments/_row.html.twig')}}
                        {% else %}
                            <tr>
                                <td colspan="8">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="navigation col-md-2 col-xs-12">
                {{ knp_pagination_render(payments) }}
            </div>
        </div>
    </div>
{% endblock %}
