{% extends 'admin/base.html.twig' %}

{% block title %}New Invoices{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12" data-url="">
            <h1>Crear nueva factura</h1>

            {{ include('admin/invoices/_form.html.twig') }}

            <a href="{{ path('invoices_index') }}" class="btn btn-light">
                <i class="fa fa-list"></i>Back to list
            </a>
        </div>
    </div>
</div>
{% endblock %}
