<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>
        {# <div class="container"> #}
            <header class="clearfix">
                <div id="logo">
                    <img width="220" height="60" src="{{path~(asset('images/rakatanga-tour.png'))}}">
                </div>
                <div id="company">
                    <h2 class="name">RAKATANGA TOUR</h2>
                    <div>C/ Altamira 11. 36002, Pontevedra</div>
                    <div>CIF: B-37569829</div>
                    <div><a href="mailto:company@example.com">info@rakatanga-tour.com</a></div>
                </div>
                <div class="clearfix"></div>
            </header>
            <main>



