
<div class="controlband main-red rounded">
    <i class="fa fa-plus"></i>&nbsp;&nbsp;<a href="{{path('travel_new')}}"> Crear Viaje</a>&nbsp;&nbsp;&nbsp;  
    <i class="fa fa-list"></i>&nbsp;&nbsp;<a href="{{path('travel_index')}}"> Lista Viajes</a>
</div>
  