
    <h1>Añadir los archivos aquí.</h1>
    <form 
        action="{{ path('upload_multiple_files') }}" 
        method="POST" 
        enctype="multipart/form-data" 
        class="dropzone js-media-dropzone">
    </form>
