<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" title="{{'Nuestras redes sociales'|trans}}" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-share"></i>
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li class="nav-item" >
      <a href="https://www.facebook.com/rakatangatour" target="_blank" class="dropdown-item" >
        <i class="fab fa-facebook"></i> Facebook
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/rakatangatour/" target="_blank" class="dropdown-item" >
        <i class="fab fa-instagram"></i> Instagram
      </a>
    </li>
    <li>
      <a href="https://youtube.com/channel/UCikmM8fbS0LLqztCF38spqQ" target="_blank" class="dropdown-item" >
        <i class="fab fa-youtube"></i> Youtube 
      </a>
    </li>
  </ul>
</li>