{% for oldreservation in oldreservations %}
  {{ include('admin/dashboard/_partials/_row_oldreservations.html.twig')}}
{% else %}
  <div class="reservations-dashboard-item">
    <div class="reservations-dashboard-grid-item">
      Todavía no hay reservas guardadas en el sistema.
    </div>
  </div>
{% endfor %}