<header>
    <div class="container-fluid mb-3 p-3 bg-secondary text-white">
	    <div class="container">
            <div class="row">
                <div class="col-12">
                    {% block header %}
                        {{ include('admin/shared/_navbar.html.twig') }}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</header>
      