{% extends 'admin/base.html.twig' %}

{% block title %}New Menu{% endblock %}
{% block header %}
   {{ parent() }}
{% endblock %}
{% block body %}
<div class="container">
    {{ include ('admin/shared/_controlband.html.twig',{'entity':'menu'})}}
    <div class="row">
        <div class="col-md-12 col-sm-12" data-url="">
            <h1>Crear nueva entrada de menú</h1>
            {{ include('admin/menu/_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
